/* src/App.css */

.app {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #e06522;
  padding: 10px;
  color: white;
  z-index: 1000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #e06522;
  padding: 10px;
  color: white;
}

.content {
  padding-top: 60px; /* Adjust based on header height */
  padding-bottom: 40px; /* Adjust based on footer height */
}

.dropdown-container {
  margin-top: 20px;
}

.heading_style {
  font-size: 20px;
  margin-bottom: 10px;
}

.button-container {
  margin-top: 10px;
}

.statistics-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
