/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fff;
} */

.heading_style {
  padding: 30px 0px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
  color:#333;
  background-color:#b69d9f;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cards {
  display: flex; 
  justify-content:center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 112px;
}


.card {
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 20px;
  transition: all 0.3s ease;
}


.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2); 
}


.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.card__info {
  padding: 20px;
}

.card__category {
  font-size: 14px;
  color: #888;
}

.card__title {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

button {
  border: 2px solid whitesmoke;
  outline: none;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #b69d9f;
  color: #fff;
  font-size: 16px;
  cursor:-webkit-grab;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:lightcoral;
}

div {
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}