.App {
  text-align: left;
  padding: 20px;
}

.App-header {
  background-color: #003366;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-footer {
  background-color: #003366;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h2 {
  margin: 20px 0;
}

p {
  margin: 20px 0;
}

input[type="file"] {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f3f3f3;
  margin: 5px 0;
  padding: 10px;
}
